* {
	/* 	border:1px solid black;
 */
 font-family: 'Malgun Gothic', sans-serif;
	
}

header {
	position: relative;
	vertical-align: middle;
	width: 100%;
	display: block;
}

header>h1 {
	color: #ffffff;
	background-color: orange;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	line-height: 50px;
}

nav {
	vertical-align: middle;
	position: relative;
	width: 100%;
	margin: 0 0;
	padding-top: 0px;
	background: #444;
	border-bottom: 1px solid #333;
	height: 45px;
}

nav.menu{
	height: 40px;
}

nav li a, nav span, nav li{
	color:orange;
}

nav li a {
	text-decoration: none;
}

nav li a:link {
	color:orange
	font-size: 14px;
}

nav li a:hover {
	color: #fff;
}

nav ul {
	position: relative;
	margin: 0px;
	padding-left : 10px;
}

nav ul li {
	float: left;
	line-height: normal;
	margin-left: 5px;
	list-style: none;
}

nav ul > li {
	padding-top: 10px;
}

.nav_menu_right{
	float:right;
	padding-right:10px;
}

nav form input{
	font-size : 12px;
	line-height: 10px;
}

nav form input[type="submit"]{
	font-size : 11px;
}

nav span {
}

#question_table .select{
	background : orange;
	width: 20%;
	text-align:center;
}
#table_head {
	text-align: center;
	font-size: 2em;
}

#question_table {
	border: 1px solid orange;
	width: 300px;
}

td {
	vertical-align: middle;
	border: 1px solid orange;
}

a.wrong_answer{
	pointer-events: none;
/* 	color:orange;
 */   	cursor: default;
   	display: none;
}

a.right_answer{
	pointer-events: none;
	color: white;
   	cursor: default;
}